flows.json
[
	{
		"id": "3fa47b0cc6618662",
		"type": "tab",
		"label": "Flow 2",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "a30fc00a4bad6c74",
		"type": "mqtt in",
		"z": "3fa47b0cc6618662",
		"name": "",
		"topic": "silver/",
		"qos": "0",
		"datatype": "auto",
		"broker": "f0b42bce16626975",
		"nl": false,
		"rap": true,
		"rh": 0,
		"inputs": 0,
		"x": 210,
		"y": 240,
		"wires": [["6fda728eaf7107db", "efa3cc94854d1b7d", "5007e82544cd65d9"]]
	},
	{
		"id": "123d58cebbe6a1c3",
		"type": "mqtt out",
		"z": "3fa47b0cc6618662",
		"name": "",
		"topic": "platinum/",
		"qos": "0",
		"retain": "",
		"respTopic": "",
		"contentType": "",
		"userProps": "",
		"correl": "",
		"expiry": "",
		"broker": "f0b42bce16626975",
		"x": 540,
		"y": 60,
		"wires": []
	},
	{
		"id": "cbe69db32f1fa581",
		"type": "inject",
		"z": "3fa47b0cc6618662",
		"name": "",
		"props": [
			{
				"p": "payload"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Today's Platinum price $999",
		"payloadType": "str",
		"x": 310,
		"y": 60,
		"wires": [["123d58cebbe6a1c3"]]
	},
	{
		"id": "6fda728eaf7107db",
		"type": "debug",
		"z": "3fa47b0cc6618662",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": true,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 600,
		"y": 220,
		"wires": []
	},
	{
		"id": "efa3cc94854d1b7d",
		"type": "play audio",
		"z": "3fa47b0cc6618662",
		"name": "",
		"voice": "6",
		"x": 590,
		"y": 400,
		"wires": []
	},
	{
		"id": "10e0651feb855ee6",
		"type": "ui_text",
		"z": "3fa47b0cc6618662",
		"group": "3c9ff3195e6ef886",
		"order": 1,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Topic: Platinum",
		"format": "{{msg.payload}}",
		"layout": "col-center",
		"className": "",
		"x": 600,
		"y": 340,
		"wires": []
	},
	{
		"id": "2a7f54d21f17c4f1",
		"type": "mqtt out",
		"z": "3fa47b0cc6618662",
		"name": "",
		"topic": "silver/",
		"qos": "0",
		"retain": "",
		"respTopic": "",
		"contentType": "",
		"userProps": "",
		"correl": "",
		"expiry": "",
		"broker": "f0b42bce16626975",
		"x": 530,
		"y": 140,
		"wires": []
	},
	{
		"id": "bfff64ca3a9472dc",
		"type": "inject",
		"z": "3fa47b0cc6618662",
		"name": "",
		"props": [
			{
				"p": "payload"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "Today's Silver price $99",
		"payloadType": "str",
		"x": 310,
		"y": 140,
		"wires": [["2a7f54d21f17c4f1"]]
	},
	{
		"id": "100aa06139451d90",
		"type": "mqtt in",
		"z": "3fa47b0cc6618662",
		"name": "",
		"topic": "platinum/",
		"qos": "0",
		"datatype": "auto",
		"broker": "f0b42bce16626975",
		"nl": false,
		"rap": true,
		"rh": 0,
		"inputs": 0,
		"x": 220,
		"y": 380,
		"wires": [["6fda728eaf7107db", "efa3cc94854d1b7d", "10e0651feb855ee6"]]
	},
	{
		"id": "5007e82544cd65d9",
		"type": "ui_text",
		"z": "3fa47b0cc6618662",
		"group": "3c9ff3195e6ef886",
		"order": 1,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Topic: Silver",
		"format": "{{msg.payload}}",
		"layout": "col-center",
		"className": "",
		"x": 590,
		"y": 280,
		"wires": []
	},
	{
		"id": "f0b42bce16626975",
		"type": "mqtt-broker",
		"name": "",
		"broker": "ws://my-mqttbroker.herokuapp.com",
		"port": "80",
		"clientid": "",
		"autoConnect": true,
		"usetls": false,
		"protocolVersion": "4",
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"birthMsg": {},
		"closeTopic": "",
		"closeQos": "0",
		"closePayload": "",
		"closeMsg": {},
		"willTopic": "",
		"willQos": "0",
		"willPayload": "",
		"willMsg": {},
		"sessionExpiry": ""
	},
	{
		"id": "3c9ff3195e6ef886",
		"type": "ui_group",
		"name": "MQTT Dashboard",
		"tab": "26b8f9dc3ee370ee",
		"order": 1,
		"disp": true,
		"width": "6",
		"collapse": false,
		"className": "body {background: #202020}"
	},
	{
		"id": "26b8f9dc3ee370ee",
		"type": "ui_tab",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]
